click==7.1.2
dominate==2.5.2
Faker==0.9.1
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mixer==6.1.3
mp3-tagger==1.0
mpeg1audio==0.5.2
mutagen==1.45.1
python-dateutil==2.8.1
six==1.15.0
text-unidecode==1.2
visitor==0.1.3
Werkzeug==2.2.3
