div.box {
    width: 100%;
    font-size: 24px;
    text-align: center;
    color: white;
    float: left;
}

div#sounds-list {
    width: 100%;
    float: left;
    margin-top: 20px;
}

div.sound-tile {
    width: 100%;
    font-size: 36px;
    float: left;
    background-color: yellow;
    text-align: center;
    border: 1px solid black
}

div#resume {
    width: 49%;
    font-size: 24px;
    float: left;
    background-color: green;
    text-align: center;
    border: 1px solid white
}

div#stop {
    width: 49%;
    font-size: 24px;
    float: left;
    background-color: red;
    text-align: center;
    border: 1px solid white
}


div.volume {
    width: 49%;
    float: left;
    background-color: blue;
    min-height: 100px;
    border: 1px solid white
}

div#now-playing {
    display: none;
    float: left;
    width: 100%;
    font-size:20pt;
    padding: 20px;
}

div#volume {
    display: none;
    float: left;
    width: 100%;
    font-size:20pt;
    padding: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}