<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remote sound player</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/service.js') }}"></script>
</head>
<body>
    <h1>Welcome on list page</h1>

    <div id="now-playing">Selected</div>
    <div id="volume">Volume</div>

    <div class="box">
        <div class="center" id="resume" onclick="resume()">Play</div>
        <div class="center" id="stop" onclick="stop()">Stop</div>
    </div>

    <div class="box">
        <div class="volume center" onclick="volUp()">+</div>
        <div class="volume center" onclick="volDown()">-</div>
    </div>

    <div id="sounds-list">
        {% for sound in sounds %}
        <div class="sound-tile center" onclick="playSound('{{ sound }}')">{{ sound }}</div>
        {% endfor %}
    </div>

</body>
</html>